.tenzies-app {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
}

.tenzies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;

  aspect-ratio: 1;
  padding: 3em;

  background-color: #f5f5f5;
  text-align: center;
}

.tenzies-heading {
  font-weight: 700;
  font-size: 2em;
  line-height: 30px;
  color: #2b283a;
}

.tenzies-intro {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #4a4e74;
}

.die-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.die {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2em;
  aspect-ratio: 1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}

.roll-dice {
  display: block;
  padding: 10px 28px;
  border: none;
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;

  font-family: "Karla", sans-serif;
  font-size: 1.2em;
  color: #fff;
}

.roll-dice:focus {
  animation: clicked 0.2s linear forwards;
}


@keyframes clicked {
  from{
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}